body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: grey;
    background-color: burlywood;
}
.blinker{
    animation: blink 2s linear infinite;
}
.blinker:hover{
    animation: none;
}

@keyframes blink{
    50%{
        opacity: 0;
    }
}

/* Upper Section */

.upper-section{
    line-height: 30px;
    background-color: beige;
    height: 100%;
    padding: 20px;
}
.us-header{
    width: 250px;
    padding: 0 20px 15px 0;
    border-bottom: 5px solid grey;
}
.us-content{
    padding: 20px;
    margin-left: 200px;
    margin-bottom: 70px;
}
.anchor{
    position: absolute;
    color: grey;
    text-decoration: none;
    transition: .07s;
    font-weight: bold;
}
.anchor:hover{
    font-weight: bolder;
    transition: .07s;
    margin-left: 15px;
}

/* Lower Section */

.lower-section{
    bottom: 0;
    padding: 20px   ;
}

.ls-content{
    padding: 20px;
    margin-left: 200px;
}
.ls-header{
    width: 140px;
    padding: 0 20px 15px 0;
    border-bottom: 5px solid grey;
}

.mode{
    background-color: transparent;
    color: grey;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px;
    transition: .4s;
}
.mode:hover{
    transition: .4s;
    background-color: lightgrey;
}
.mode:focus{
    outline: none;
}

/* Some Functions */

.dark{
    background-color: black;
}

/* Make it responsive */

@media screen and (max-width: 500px){
    .us-content{
        margin: 0;
    }
    .anchor{
        position: static;
        margin-left: 5%;
    }
    .ls-content{
        margin: 0;
    }
    .ls-header{
        margin-top: -20px;
    }
}